.container {
  width: 100%;
  background-color: #f4e9da;
  padding-bottom: 7rem;
}

.contAdd {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.contactForm {
  background-color: #fff;
  width: 50%;
  padding-bottom: 6rem;
}

textarea {
  width: 100%;
  padding: 1rem;
  color: #495057;
  outline: none;
}

.contactForm a {
  text-decoration: none;
}

.contactForm button {
  color: #f4e9da;
  background-color: #273253;
  border-color: #273253;
  border: 1px solid transparent;
  padding: 0.813rem 1.7rem;
  margin-top: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  margin-top: 2.6rem;
}

.rightContent {
  width: 100%;
}

.rightContent h4,
.chiRight h4 {
  color: #ed5c4d;
  font-size: calc(1.275rem + 0.3vw);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.rightContent p,
.chiRight p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
}

.second {
  margin-top: 2rem;
}

.second p {
  margin-top: 1rem;
}

.secondPee {
  margin-top: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .contAdd {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .contAdd {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contactForm {
    width: 100%;
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
  }

  .chiRight {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 880px) {
  .contAdd {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  .contAdd {
    width: 90%;
  }
}
