.container {
  width: 100%;
  padding: 6rem 0 6.25rem;
  background-color: #f4e9da;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.content h1 {
  margin-bottom: 15px;
  color: #ed5c4d;
  font-size: calc(1.375rem + 1.5vw);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

.content p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .content {
    width: 70%;
  }

  .content p {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .content {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 4rem 0 3rem;
  }
}
