.contentContainer {
  width: 100%;
  margin-top: 5rem;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.imgContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.first,
.second,
.third {
  width: 30%;
}

.first img,
.second img,
.third img {
  width: 100%;
  margin-bottom: 1.8rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  color: #212529;
}

.flex p {
  color: #212529;
}

.first h2,
.second h2,
.third h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  padding-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 1.4rem;
  margin-bottom: 5rem;
}

.first h2 a,
.second h2 a,
.third h2 a {
  text-decoration: none;
  color: #000;
}

.first h2 a:hover,
.second h2 a:hover,
.third h2 a:hover {
  color: #ed5c4d;
}

.imgContainerBtn {
  display: flex;
  justify-content: center;
}

.wrapper button {
  color: #f4e9da;
  background-color: #273253;
  border-color: #273253;
  border: none;
  display: inline-block;
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.813rem 1.5rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .wrapper {
    width: 70%;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .first,
  .second,
  .third {
    width: 100%;
  }

  .flex {
    justify-content: space-between;
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .contentContainer {
    margin-top: 6rem;
  }

  .imgContainer {
    margin-top: 2rem;
    gap: 1rem;
  }
}
