.heroWrapper {
  width: 100%;
  background-color: #fff;
  background-size: cover;
  margin-top: 95px;
}

.heroText {
  width: 80%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.heroText .active h1 {
  opacity: 1;
  transform: translateX(0px);
  /* -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  -o-transition-delay: 150ms; */
  transition-delay: 150ms;
}

.heroText h1 {
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 3.1rem;
  width: 78%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
  color: #000;
  position: relative;
  animation: spin_words 3s infinite;
}
@keyframes spin_words {
  50% {
    transform: translateY(-25%);
  }
}

.heroText h1::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #197474;
  background-color: #fff;
  width: 100%;
  animation: typing 3s steps(14) alternate infinite;
  /* animation: line 1s infinite/; */
}
@keyframes typing {
  to {
    width: 0%;
  }
}
@keyframes line {
  50% {
    color: transparent;
  }
}

.heroImg {
  background-image: url(../../../Asset/Images/heroImg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  height: 80vh;
  width: 100%;
  transition: all 0.5s;
}

.heroImg:hover {
  background-color: #197474;
  transition: all 0.5s;
}

@media screen and (max-width: 1440px) {
  .heroWrapper {
    margin-top: 110px;
  }
}

@media screen and (max-width: 1330px) {
  .heroWrapper {
    margin-top: 97px;
  }
}

@media screen and (max-width: 1091px) {
  .heroWrapper {
    margin-top: 81px;
  }
}

@media screen and (max-width: 1024px) {
  .heroWrapper {
    margin-top: 81px;
  }

  .heroText {
    width: 90%;
  }
  .heroText h1 {
    width: 89%;
    font-size: 2.8rem;
  }

  .heroText h2 {
    font-size: calc(1.205rem + 0.9vw);
  }
}

@media screen and (max-width: 990px) {
  .heroText {
    width: 70%;
  }

  .heroText h1 {
    font-size: 2.7rem;
  }

  .heroImg {
    min-height: 33vh;
  }
}

@media screen and (max-width: 880px) {
  .heroText {
    width: 80%;
  }

  .heroText h1 {
    font-size: 2.6rem;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .heroText {
    width: 90%;
    padding-top: 18rem;
  }

  .heroText h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  .heroImg {
    min-height: 38vh;
  }
}

@media screen and (max-width: 500px) {
  .heroWrapper {
    margin-top: 75px !important;
  }

  .heroText {
    padding-bottom: 5.5rem;
  }

  .heroText h1 {
    font-size: 2.3rem;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .heroText h1 {
    font-size: 2.2rem;
  }
}
