.subscribeContainer {
  margin-top: 7.5rem;
  width: 100%;
  margin-bottom: 7.5rem;
}

.subscribeContent {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subText {
  width: 45%;
  margin-top: 3.5rem;
}

.subText h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  color: #212529;
  font-size: calc(1.111rem + 0.9vw);
}

.subText p {
  width: 86%;
}

.subText p,
form p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
}

.subText .pee {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
  margin-top: 1rem;
}

form {
  /* border: 1px solid #212529; */
  width: 45%;
  background-color: #f4e9da;
  padding-top: 5rem;
  padding-bottom: 6rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

form input {
  width: 100%;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  height: calc(1.8em + 1.626rem + 2px);
  padding: 0.813rem 1.5rem;
  font-family: "poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
  color: #495057;
  background-color: none;
  background-clip: padding-box;
  border: 1px solid #707070;
  border-radius: 0.15rem;
  background-color: Transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.subBtn {
  background-color: #273253;
  border-color: #273253;
  cursor: pointer;
  width: 100%;
  border: 1px solid transparent;
  padding: 0.813rem 1.5rem;
  margin-top: 1.8rem;
}

.subBtn a {
  color: #f4e9da;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.subBtn:hover {
  background-color: #ed5c4d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
