.blogContainer {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.blogContent {
  width: 80%;
  margin: 0 auto;
}

.blogContent h2 {
  color: #212529;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 2.1rem;
}

.blogWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.left,
.middle,
.right {
  width: 30%;
}

.left img,
.middle img,
.right img {
  width: 100%;
}

.left .border,
.middle .border,
.right .border {
  border: solid 1px #f4e9da;
  border-top-width: 0;
  padding: 1.875rem 1.563rem;
}

.left .a,
.middle .a,
.right .a {
  color: #495057;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 1rem;
  cursor: pointer;
}

.left h2,
.middle h2,
.right h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  padding-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.left h2 a,
.middle h2 a,
.right h2 a {
  text-decoration: none;
  color: #000000;
}

.left h2 a:hover,
.middle h2 a:hover,
.right h2 a:hover {
  color: #ee4e3c;
}

.left p,
.middle p,
.right p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
}

.btn {
  background-color: #273253;
  border-color: #273253;
  font-weight: 600;
  line-height: 1.8;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.813rem 1.4rem;
  display: flex;
  margin: 0 auto;
}

.btn a {
  color: #f4e9da;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.8;
  font-size: 0.876rem;
}

.btn:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  background-color: #ee4e3c;
}

@media screen and (max-width: 1024px) {
  .blogContent {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .blogContent {
    width: 70%;
  }

  .blogContent {
    margin-top: -3rem;
  }
  .blogWrapper {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
  }

  .left,
  .middle,
  .right {
    width: 100%;
    /* margin: 0 auto; */
  }
}

@media screen and (max-width: 880px) {
  .blogContent {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  .blogContent {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .blogContent h2 {
    font-size: 1.6rem;
  }

  .left h2,
  .middle h2,
  .right h2 {
    font-size: 1.24rem;
  }
}
