.wrapper {
  background-color: #f4e9da;
  background-size: cover;
  min-height: 100px;
}

.headerContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2.2rem;
  align-items: center;
}

.headerContainer a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
}

.toggler {
  display: none;
}

.mobileNav {
  display: none;
}

.activeMobileNav {
  display: none;
}

@media screen and (max-width: 1024px) {
  .headerContainer {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .headerContainer {
    width: 70%;
  }

  .toggler {
    display: block;
  }

  .toggler .btn {
    font-size: 1.8rem;
    cursor: pointer;
    outline: none;
  }

  .mobileNav {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .activeMobileNav {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
    background-color: #fff;
    padding-bottom: 1.5rem;
    transition: 850ms;
  }

  .navUl {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .navUl li {
    list-style: none;
    margin-top: 20px;
  }

  .navUl li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #000;
    padding: 8px;
    padding-right: 30px;
  }

  .span {
    border: 1px solid #000;
    margin-top: 10px;
  }
}

@media screen and (max-width: 880px) {
  .headerContainer {
    width: 80%;
  }

  .mobileNav {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  .headerContainer {
    width: 90%;
  }

  .mobileNav {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .toggler {
    display: block;
  }

  .toggler .btn {
    font-size: 1.8rem;
  }
}
